.greybox {
    background-color:lightgray;
    width: 250px;
    height: 250px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-color: black;
    border: solid;
}


.orangebox {
    height: 100px;
    width: 100px;
    background-color: orange;
    position: absolute;
    border-width: 1px;
	border-color: black;
    border: solid;

}


.boxes {
    margin-left: 20px;
    margin-top: 20px;
    display: flex;    
    flex-direction: row;
}

.greenbox {
    height: 300px;
    width: 200px;
    background-color: lightgreen;
    border-width: 1px;
	border-color: black;
    border: solid;

}

.bluebox {
    height: 300px;
    width: 200px;
    background-color: lightblue;
    border-color: black;
    border: solid;
    
   

}

.orangebox1 {
    height: 100px;
    width: 403px;
    background-color: orange; border-width: 1px;
	border-color: black;
    border: solid;
    margin-left: 20px;
}