.greybox {
    background-color:lightgray;
    width: 250px;
    height: 250px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-color: black;
    border: solid;
}


.orangebox {
    height: 100px;
    width: 100px;
    background-color: orange;
    position: absolute;
    border-width: 1px;
	border-color: black;
    border: solid;

}