.greybox {
    background-color: lightgray;
    width: 250px;
    height: 250px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-color: black;
    border: solid;
}


.orangebox {
    height: 100px;
    width: 100px;
    background-color: orange;
    position: absolute;
    border-width: 1px;
    border-color: black;
    border: solid;

}


.boxes {
    box-sizing: border-box;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.greenbox {
    box-sizing: border-box;
    height: 300px;
    width: 200px;
    background-color: lightgreen;
    border-color: black;
    border: solid;
    border-width: 1px;


}

.bluebox {
    box-sizing: border-box;
    position: relative;
    height: 300px;
    width: 200px;
    background-color: lightblue;
    border-color: black;
    border: solid;
    border-width: 1px;



}

.orangebox1 {
    box-sizing: border-box;
    height: 100px;
    width: 400px;
    background-color: orange;
    border-color: black;
    border: solid;
    margin-left: 20px;
    border-width: 1px;
}


.blackbox {
    height: 50px;
    width: 50px;
    position: absolute;
    background-color: black;
    right: 0;
    top: 0;
}