.bigbox {
    border: solid;
    border-color: black;
    border-width: 1px;
    width: 100%;
    height: 540px;
    display: flex;
    flex-direction: row;



}

.box1 {
    background-color: lightgreen;
    padding: 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: black;
    border-width: 2px;


}

.box2 {
    background-color: lightgreen;
    padding: 20px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: black;
    border-width: 2px;


}

.bigboxpadding {
    padding: 100px;
}


.leftsite {
    width: 150%;
    display: grid;
    grid-template-columns: 15% 15% 15%;
    column-gap: 25px;
    row-gap: 20px;
    justify-content: space-between;
    border-width: 1px;
    border-color: black;
    border: solid;
    padding: 20px;
    grid-template-rows: 115px 115px;


}



.rightsite {

    width: 150%;
    display: grid;
    grid-template-columns: 40% 40%;
    column-gap: 25px;
    row-gap: 20px;
    border-width: 1px;
    border-color: black;
    border: solid;
    justify-content: space-around;
    align-items: center;
}